@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 69px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: #f8f8ff;
    color: #000;
    z-index: 200;
    font-family: Poppins,sans-serif;
    color: black;
    
  }
  
  .navbar-container .navbar-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .navbar-container .navbar-left span {
    font-weight: bold;
    font-size: 20px;
    color: #000080;
  }

  .navbar-middle{
    display: flex;
    gap: 1.2vmax;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
  }
  .middle-nav{
    height: 32px;
    width: 32px;

  }
  .middle-nav img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .middle-nav-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 15%;
  }

  


  
 
  
  .navbar-container .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  @media only screen and (max-width: 767px) {
    .navbar-container .navbar-right {
      display: none;
    }
  }
  
  .navbar-container .navbar-right .navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar-container .navbar-right .navbar-user {
      display: none;
    }
  }
  
  .navbar-container .navbar-right .navbar-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (max-width:768px) {
    .navbar-container .navbar-middle{
      display: none;
    }
    
  }
  