@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.outlet{
    display: flex;
    flex-flow: column wrap;
    flex:6;
    background-color: #f0f2f5;

}

@media (max-width:768px) {
    .outlet{
    }
    
}


    