@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.outlet{
    display: flex;
    flex-flow: column wrap;
    flex:5;
    background-color: #f0f2f5;
    overflow-y:scroll;

}
.outlet::-webkit-scrollbar{
    display: none;
}

@media (max-width:768px) {
    .outlet{
    }
    
}


    