.login-container {
    height: 100vh;
    background-color: rgba(240,242,245,255);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    height: 60%;
    -webkit-box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.75);
  }
  
  .login-left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    color: white;
  }

 

  
  .login-left h1 {
    font-size: 80px;
    line-height: 100px;
  }
  
  .login-left span {
    font-size: 14px;
  }

  .login-left a{
    text-decoration: none;

  }
  
  .login-left button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
  
  .login-right h1 {
    color: #555;
  }
  
  .login-right form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .login-right form input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
  }
  .login-left-text{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
  }
  
  .login-right form button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #0866ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .mobile_bottom_login{
    display: none;
  }
  .mobile-login-top{
    display: none;
  }
  @media (max-width:1300px) {
    .login-left{
      flex: 1;
      width: 50%;
      padding: 20px;
      
    }
    .login-left-text{
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      flex-wrap: wrap;
      height: 100%;
      gap: 30px;
    }
    .login-left-text p{
      font-size: 0.875rem;
    }
    .login-left h1{
      font-size: 3rem;
    }
    
    .login-right{
      width: 50%;
    }
    .login-right form button{
      width: 100%;
    }
    
  }

  @media (max-width:845px) {
  
    .login-left-text p{
      font-size: 0.875rem;
    }
    
  }
  @media (max-width:768px) {
    .login-left{
        display: none;
    }
    .login-card{
      width: 80%;
    }
    .login-right{
      width: 100%;
      padding: 30px;
    }
    .mobile_bottom_login{
      display: flex;
      flex-wrap: wrap;
    }
    .mobile_bottom_login span{
      display: flex;
      flex-wrap: wrap;
      gap: 1.2vmax;

    }
    .mobile-login-top{
      display: flex;
      align-items: center;
      gap: 1.4vmax;

    }
    .mobile-login-top span{
      font-size: 1.2rem;
    }
    .mobile_bottom_login span button{
      border: none;
      cursor: pointer;
      background-color: inherit;

    }
    .mobile_bottom_login span button:hover{
      color: #0866ff;
    }
    
  }