.register {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    height: 70%;
    -webkit-box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 13px 0px rgba(0,0,0,0.75);
  }
  
  .register-left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
        center;
    background-size: cover;
    padding: 50px;      
    color: white;
  }
  .register-left-text{
    display: flex;
    flex-direction: column;
    gap: 30px;

  }

  .register-left a{
    text-decoration: none;

  }
  
  .register-left h1 {
    font-size: 100px;
    line-height: 100px;
  }
  
  .register-left span {
    font-size: 14px;
    
  }
  
  .register-left button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
  }
  
  .register-right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  
  .register-right h1 {
    color: #555;
  }
  
  .register-right form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .register-right form input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
  }
  
  .register-right form button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #0866ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .mobile_bottom_register{
    display: none;
  }

  @media (max-width:1380px) {
    .register-left{
      flex:1;
      width: 45%;
      padding: 15px;

    }
    .register-left-text h1{
      font-size: 3rem;
    }
    .register-right{
      flex: 1;
      width: 50%;
      padding: 15px;
    }
    
  }

  @media (max-width:965px) {
    .register-left-text{
      gap: 10px;
    }
    .register-left-text p {
      font-size: 0.875rem;
    }
    .register-left-text span{
      font-size: 0.875rem;
    }

  }

  @media (max-width:768px) {
    .register-card{
      width: 80%;
    }
    .register-left{
      display: none;
    }

    .register-right form button{
      width: 100%;
    }

    .mobile_bottom_register{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .mobile_bottom_register span{
      display: flex;
      gap: 1vmax;
    }
    .mobile_bottom_register span button{
      border: none;
      background-color: inherit;
      color: #0866ff;
      cursor: pointer;
    }

    
  }
  